<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
        
    <link rel="stylesheet" href= "{{ url_for('static', filename='style.css') }}">
    <title>Jamify</title>
    
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="./static/img/jamify-01.png" alt = "logo"
            width="200"
            height="200">
        </div>
    </header>
<body>
    <div class ="survey-title">
        <h1> Check your spotify!</h1>
    </div>

    <button type="submit" onclick="location.href = '/';"> Generate a New Playlist </button> 
    <button type="submit" onclick="location.href = '/logout';"> Logout </button> 
</body>